.pcrafts-pagination {

	&.left {
		text-align: left;

		.pcrafts-pages {
			justify-content: flex-start;
		}
	}

	&.center {
		text-align: center;
		.pcrafts-pages {
			justify-content: center;
		}
	}

	&.right {
		text-align: right;
		.pcrafts-pages {
			justify-content: flex-end;
		}
	}

	button {
		cursor: pointer;

		&.disabled {
			opacity: 0.6;
			pointer-events: none;
		}
	}

	&.pcrafts-arrow {
		
		button {
			border: none;
			cursor: pointer;
			display: inline-block;
			margin: 0 5px 0 0;
			padding: 8px 12px;
			transition: color 0.3s;
			background-color: black;
			color: white;
		}
	}

	ul.pcrafts-pages {
		padding: 0;
		margin: 0;
	}

	.pcrafts-pages {
		display: flex;
		align-items: center;
		gap: 5px;

		li {
			list-style: none;
			cursor: pointer;

			&.hide {
				display: none;
			}

			&.current {
				padding: 2px 9px;
				color: white;
				background-color: black;
				border-radius: 50%;
			}
		}
	}
}
