.pcrafts-pagination {

	//@Todo: remove after adding spacer settings
	margin: 20px 0;

	&.left {
		text-align: left;

		.pcrafts-pages {
			justify-content: flex-start;
		}
	}

	&.center {
		text-align: center;
		.pcrafts-pages {
			justify-content: center;
		}
	}

	&.right {
		text-align: right;
		.pcrafts-pages {
			justify-content: flex-end;
		}
	}

	&.pcrafts-arrow {
		
		button {
			border: none;
			cursor: pointer;
			display: inline-block;
			margin: 0 5px 0 0;
			padding: 4px 8px;
			transition: color 0.3s;
			background-color: black;
			color: white;

			svg {
				fill: #fff;
			}
		}
	}

	&.pcrafts-loadmore {
	
		button {
			background-color: black;
			color: white;
			padding: 10px 20px;
			border-radius: 4px;
			border: none;
			font-size: 14px;
			line-height: 20px;
			transition: background-color 0.3s;
		}
	
	}

	button {
		cursor: pointer;

		&.disabled {
			opacity: 0.6;
			pointer-events: none;
		}

		&:hover {
			color: #fff;
			background-color: #007cba;
		}
	}

	ul.pcrafts-pages {
		padding: 0;
		margin: 0;
	}

	.pcrafts-pages {
		display: flex;
		align-items: center;
		gap: 5px;

		li {
			list-style: none;
			cursor: pointer;
			padding: 8px 14px;
			font-size: 14px;
			line-height: 20px;
			background-color: #000;
			color: #fff;

			&.hide {
				display: none;
			}

			&.current, 
			&:hover {
				color: #fff;
				background-color: #007cba;
			}
		}
	}
}
