article.post-list {
	display: flex;
	flex-flow: column;
	padding-right: 0;

	@media only screen and (min-width: 48em) {
		flex-flow: row;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {

		.entry-title a {
			color: '#406CB4';
		}
	}
}

.figure-thumbnail {
	position: relative;
}

