// components
@use "components/media";
@use "components/common";
@use "components/post-list";
@use "components/post-grid";
@use "editor/common" as editor-common;
@use "editor/alignment";
@use "editor/pagination";
@use "editor/color-control";

// global
@use "global";


.post-crafts-pagination-settings {

	button.is-small {
		font-size: 12px;
		height: 32px;
		line-height: 25px;
		padding: 0 12px;
		text-transform: capitalize;

		&:hover {
			cursor: pointer;
		}
	}
}

