.post-sorting-modal-trigger {
	display: flex;
	align-items: center;
	margin: 20px 0;
	width: 65%;
}

.post-selector-trigger {
	width: 60%;
}

.sortable-help {
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
}

.close-sorting-modal {
	position: absolute;
    right: 32px;
    top: 20px;
    z-index: 10;
}

.sort-container {
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 15px 0;

	.clear-selected-list {
		width: 30%;
		justify-content: center;
	}
}
